streamlit
fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
pypdf
torch
torchvision
sentence-transformers
python-dotenv
sentence-transformers
pydantic
python-multipart
